In [5]:
import pandas as pd
import numpy

In [6]:
#This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
#http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print "we will print only the years: "
    print football['year']
    print ''
    print "only the years too, bu using the shortcut: dataframename.keyname"
    print football.year  # shorthand for football['year']
    print ''
    print "from the data frame we print years, wins and losses:"
    print football[['year', 'wins', 'losses']]

we will print only the years:
0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

only the years too, bu using the shortcut: dataframename.keyname
0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

from the data frame we print years, wins and losses:
   year  wins  losses
0  2010    11       5
1  2011     8       8
2  2012    10       6
3  2011    15       1
4  2012    11       5
5  2010     6      10
6  2011    10       6
7  2012     4      12

In [7]:
#Row selection can be done through multiple ways.

#Some of the basic and common methods are:
#  1) Slicing
# 2) An individual index (through the functions iloc or loc)
# 3) Boolean indexing

#You can also combine multiple selection requirements through boolean
#operators like & (and) or | (or)

# Change False to True to see boolean indexing in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print "here the first column of the dataframe (iloc)"
    print football.iloc[[0]]
    print ""
    print "here the first column of the dataframe, using a different operator (loc)"
    print football.loc[[0]]
    print ""
    print "here please return the columns from position 3 to 5(exclusive), so we have the column index 3, 4"
    print football[3:5]
    print ""
    print "print only the rows where column was bigger than 10"
    print football[football.wins > 10]
    print ""
    print "print only the rows where column is bigger than 10 and the team is packers"
    print football[(football.wins > 10) & (football.team == "Packers")]

here the first column of the dataframe (iloc)
   losses   team  wins  year
0       5  Bears    11  2010

here the first column of the dataframe, using a different operator (loc)
   losses   team  wins  year
0       5  Bears    11  2010

here please return the columns from position 3 to 5(exclusive), so we have the column index 3, 4
   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

print only the rows where column was bigger than 10
   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

print only the rows where column is bigger than 10 and the team is packers
   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

Compute the average number of bronze medals earned by countries who 
earned at least one gold medal.  

Save this to a variable named avg_bronze_at_least_one_gold. You do not
need to call the function in your code when running it in the browser -
the grader will do that automatically when you submit or test it.
    
HINT-1:
You can retrieve all of the values of a Pandas column from a 
data frame, "df", as follows:
df['column_name']
    
HINT-2:
The numpy.mean function can accept as an argument a single
Pandas column. 
    
For example, numpy.mean(df["col_name"]) would return the 
mean of the values located in "col_name" of a dataframe df.

In [38]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
olympic_medal_counts = {'country_name': pd.Series(countries),
                            'gold': pd.Series(gold),
                            'silver': pd.Series(silver),
                            'bronze': pd.Series(bronze)}
df = pd.DataFrame(olympic_medal_counts)
    
# YOUR CODE HERE
#goldOne = df[(df.gold >= 1)]
#avg_bronze_at_least_one_gold = numpy.mean(goldOne['bronze'])

#other way...
bronze_at_least_one_gold = df['bronze'] [df['gold'] >= 1]
avg_bronze_at_least_one_gold = numpy.mean(bronze_at_least_one_gold)

In [40]:
avg_bronze_at_least_one_gold

4.238095238095238

Using the dataframe's apply method, create a new Series called 
avg_medal_count that indicates the average number of gold, silver,
and bronze medals earned amongst countries who earned at 
least one medal of any kind at the 2014 Sochi olympics.  Note that
the countries list already only includes countries that have earned
at least one medal. No additional filtering is necessary.

In [82]:
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': pd.Series(gold),
                            'silver': pd.Series(silver),
                            'bronze': pd.Series(bronze)}    
    df = pd.DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    #meanS = pd.Series([numpy.mean(df.gold), numpy.mean(df.silver), numpy.mean(df.bronze)])
    #ndf = df[['gold','silver','bronze']]
    #ndfAve = ndf.apply(numpy.mean)
    #ndfAve
    
    #other way is:
    ndf = df[['gold','silver','bronze']].apply(numpy.mean)
    ndf

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64

Imagine a point system in which each country is awarded 4 points for each
gold medal,  2 points for each silver medal, and one point for each 
bronze medal.  

Using the numpy.dot function, create a new dataframe called 
olympic_points_df' that includes:
a) a column called 'country_name' with the country name
b) a column called 'points' with the total number of points the country
earned at the Sochi olympics.

In [102]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

#your code here
#df = {'country_name': countries, 
#      'points': pd.Series(numpy.dot(gold, 4) + numpy.dot(silver, 2) + pd.Series(bronze))}

#olympic_points_df = pd.DataFrame(df)
#olympic_points_df

#other way.
#first a data frame
data = {'countries': pd.Series(countries), 'gold': pd.Series(gold), 'silver': pd.Series(silver), 'bronze':pd.Series(bronze)}
df = pd.DataFrame(data)

medals = df[['gold', 'silver', 'bronze']]
mat = numpy.dot(medals, [4, 2, 1])

ndf = pd.DataFrame({'countries': countries, 'points': mat})
ndf

         countries  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1